## Load Dataset

In [17]:
import pandas as pd
df=pd.read_csv('Car_Electric.csv')
df.head()

,Date,County,State,Vehicle Primary Use,Battery Electric Vehicles (BEVs),Plug-In Hybrid Electric Vehicles (PHEVs),Electric Vehicle (EV) Total,Non-Electric Vehicle Total,Total Vehicles,Percent Electric Vehicles
0,September 30 2022,Riverside,CA,Passenger,7,0,7,460,467,1.50
1,December 31 2022,Prince William,VA,Passenger,1,2,3,188,191,1.57
2,January 31 2020,Dakota,MN,Passenger,0,1,1,32,33,3.03
3,June 30 2022,Ferry,WA,Truck,0,0,0,"3,575","3,575",0.00
4,July 31 2021,Douglas,CO,Passenger,0,1,1,83,84,1.19

## Cek Dataset

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20819 entries, 0 to 20818
Data columns (total 10 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   Date                                      20819 non-null  object
 1   County                                    20733 non-null  object
 2   State                                     20733 non-null  object
 3   Vehicle Primary Use                       20819 non-null  object
 4   Battery Electric Vehicles (BEVs)          20819 non-null  object
 5   Plug-In Hybrid Electric Vehicles (PHEVs)  20819 non-null  object
 6   Electric Vehicle (EV) Total               20819 non-null  object
 7   Non-Electric Vehicle Total                20819 non-null  object
 8   Total Vehicles                            20819 non-null  object
 9   Percent Electric Vehicles                 20819 non-null  float64
dtypes: float64(1), object(9)
memory usage: 1.6+ MB

**Insight**

Ubah tipe data pada colom Battery Electric Vehicles (BEVs),Plug-In Hybrid Electric Vehicles (PHEVs), Electric Vehicle (EV) Total,Non-Electric Vehicle Total,Total Vehicles menjadi integer

In [19]:
convert_dict = {'Battery Electric Vehicles (BEVs)': int,
                'Plug-In Hybrid Electric Vehicles (PHEVs)': int,
                'Electric Vehicle (EV) Total':int,
                'Non-Electric Vehicle Total':int,
                'Total Vehicles':int,
                }
columns_to_clean = ['Battery Electric Vehicles (BEVs)', 'Plug-In Hybrid Electric Vehicles (PHEVs)',
                    'Electric Vehicle (EV) Total', 'Non-Electric Vehicle Total', 'Total Vehicles']
df[columns_to_clean] = df[columns_to_clean].replace({',': ''}, regex=True)
df=df.astype(convert_dict)

## cek missing value

In [20]:
df.isna().mean()*100

Date                                        0.000000
County                                      0.413084
State                                       0.413084
Vehicle Primary Use                         0.000000
Battery Electric Vehicles (BEVs)            0.000000
Plug-In Hybrid Electric Vehicles (PHEVs)    0.000000
Electric Vehicle (EV) Total                 0.000000
Non-Electric Vehicle Total                  0.000000
Total Vehicles                              0.000000
Percent Electric Vehicles                   0.000000
dtype: float64

**insight**

ada data hilang sebanyak 0,4% yaitu pada kolom county dan state, karena jumlah data yang hilang kuarng dari 2% maka dilakukan drop pada data yang hilang

In [21]:
df.dropna(inplace=True)

## Cek duplicate data

In [23]:
df[df.duplicated()]

Empty DataFrame
Columns: [Date, County, State, Vehicle Primary Use, Battery Electric Vehicles (BEVs), Plug-In Hybrid Electric Vehicles (PHEVs), Electric Vehicle (EV) Total, Non-Electric Vehicle Total, Total Vehicles, Percent Electric Vehicles]
Index: []

**Insight**

Tidak ada data duplicate

In [27]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', None)
pd.DataFrame({
    'Name': df.columns.values,
    'Type': df.dtypes.values,
    'N/A (%)': df.isna().mean().values * 100,
    'Unique': df.nunique().values,
    'Sample': [df[col].unique() for col in df.columns]
})

,Name,Type,N/A (%),Unique,Sample
0,Date,object,0.0,86,"[September 30 2022, December 31 2022, January 31 2020, June 30 2022, July 31 2021, May 31 2018, November 30 2017, March 31 2018, March 31 2020, January 31 2019, February 28 2017, September 30 2017, December 31 2018, November 30 2020, February 29 2020, August 31 2019, May 31 2020, December 31 2021, June 30 2021, January 31 2017, October 31 2022, May 31 2022, October 31 2017, September 30 2021, April 30 2021, June 30 2017, January 31 2022, July 31 2020, November 30 2021, February 28 2022, June 30 2019, March 31 2019, July 31 2019, August 31 2023, October 31 2020, June 30 2023, April 30 2020, September 30 2023, March 31 2021, April 30 2019, January 31 2018, October 31 2021, June 30 2020, April 30 2017, April 30 2023, February 28 2019, March 31 2022, January 31 2021, June 30 2018, March 31 2023, January 31 2024, September 30 2020, March 31 2017, December 31 2023, December 31 2017, November 30 2019, July 31 2022, April 30 2018, July 31 2023, May 31 2023, May 31 2021, July 31 2018, August 31 2021, December 31 2019, August 31 2022, July 31 2017, May 31 2017, October 31 2019, August 31 2020, January 31 2023, May 31 2019, February 28 2023, November 30 2022, November 30 2018, October 31 2023, August 31 2018, February 29 2024, December 31 2020, April 30 2022, November 30 2023, February 28 2018, October 31 2018, September 30 2019, August 31 2017, February 28 2021, September 30 2018]"
1,County,object,0.0,311,"[Riverside, Prince William, Dakota, Ferry, Douglas, Maui, Northampton, Nassau, DeKalb, Columbia, Orleans, Ramsey, Manassas, Montgomery, Albemarle, Monroe, San Diego, Skamania, Washington, Sarpy, Owyhee, Clinton, Yakima, Virginia Beach, Sedgwick, Kittitas, Asotin, San Francisco, Charles, Richmond, Carson City, Santa Clara, Harris, King, Suffolk, Clallam, Clay, El Paso, Harford, Franklin, Burlington, Kings, Washtenaw, Whatcom, Whitman, Stevens, Benton, Kern, Grant, Nueces, Jackson, Polk, Powhatan, Anne Arundel, Pacific, San Mateo, Ventura, Klamath, Hamilton, Meade, Placer, Larimer, Fairbanks North Star, Clark, Bexar, Manatee, Williamson, Flathead, Lumpkin, Mason, Providence, Hardin, Charleston, Santa Cruz, Hawaii, Kootenai, Sumter, Dallas, Lake, Spokane, Los Angeles, Maricopa, Solano, Gwinnett, Madison, Snohomish, Lewis, Garfield, Walla Walla, St. Clair, Allen, Bryan, Adams, Jefferson, Alameda, Skagit, Escambia, Cook, Pima, Williams, ...]"
2,State,object,0.0,50,"[CA, VA, MN, WA, CO, HI, PA, NY, IN, LA, AL, IL, OR, NE, ID, KS, MD, NV, TX, FL, NJ, MI, MO, KY, AK, MT, GA, RI, SC, IA, AZ, ND, MA, NH, OH, NC, TN, OK, UT, CT, AR, DC, MS, PR, WI, NM, SD, WY, DE, ME]"
3,Vehicle Primary Use,object,0.0,2,"[Passenger, Truck]"
4,Battery Electric Vehicles (BEVs),int32,0.0,1209,"[7, 1, 0, 17, 2, 19, 9, 6, 73, 1643, 177, 38, 55, 175, 61, 77, 29, 3, 48, 11, 158, 615, 4, 5, 53, 52, 31, 103, 8, 730, 16, 559, 39, 6649, 465, 109, 119, 652, 23, 69, 13, 113, 275, 112, 285, 579, 198, 127, 252, 1509, 146, 272, 20, 32, 155, 844, 286, 2036, 22, 42, 502, 294, 138, 563, 2174, 179, 110, 240, 67, 91, 524, 290, 71, 25168, 12, 249, 26, 330, 58, 206, 498, 164, 1378, 185, 18, 309, 284, 1164, 25, 65, 10, 129, 1022, 4919, 368, 443, 24, 1265, 292, 27, ...]"
5,Plug-In Hybrid Electric Vehicles (PHEVs),int32,0.0,935,"[0, 2, 1, 6, 14, 78, 673, 86, 43, 34, 179, 68, 65, 4, 44, 122, 464, 9, 40, 3, 61, 21, 5, 59, 326, 12, 170, 2195, 225, 112, 453, 7, 26, 39, 48, 128, 131, 414, 53, 120, 1373, 74, 141, 30, 133, 629, 173, 982, 23, 385, 194, 8, 73, 234, 1098, 103, 67, 82, 214, 91, 35, 7812, 142, 17, 184, 166, 124, 216, 99, 638, 106, 75, 308, 117, 88, 167, 383, 2025, 180, 139, 612, 200, 28, 58, 377, 56, 238, 71, 1018, 488, 433, 1415, 107, 651, 121, 534, 1055, 55, 257, 153, ...]"
6,Electric Vehicle (EV) Total,int32,0.0,1409,"[7, 3, 1, 0, 23, 2, 33, 11, 151, 2316, 263, 81, 89, 354, 4, 129, 142, 29, 9, 92, 280, 1079, 10, 14, 93, 113, 52, 5, 162, 8, 1056, 28, 729, 6, 98, 8844, 690, 221, 119, 1105, 49, 31, 108, 13, 161, 403, 416, 993, 198, 12, 180, 372, 2882, 220, 413, 50, 62, 288, 1473, 459, 3018, 45, 42, 887, 488, 25, 211, 797, 16, 3272, 282, 177, 322, 111, 91, 738, 381, 106, 32980, 22, 391, 43, 514, 123, 251, 714, 274, 164, 2016, 218, 260, 30, 617, 1166, 37, 140, 439, 194, 1405, 6944, ...]"
7,Non-Electric Vehicle Total,int32,0.0,7096,"[460, 188, 32, 3575, 83, 59, 66, 37, 1, 1529, 73, 45, 41, 5, 38, 23, 3, 2541, 4026, 11425, 296, 57, 61408, 651, 96, 14783, 12651, 100, 89, 4, 9, 300, 223, 183257, 125, 22088, 88, 495, 283, 42, 61083, 112, 62, 21, 149887, 21953, 30298, 27968, 130615, 228, 14774, 27988, 80, 264, 70, 15, 441, 15987, 131, 276, 33, 46, 18, 51, 50, 48077, 21315, 13805, 97, 82497, 717, 20, 53, 7, 30264, 79115, 20726, 182187, 116, 85, 27, 54, 35, 10, 8, 166853, 314266, 747, 1424, 121, 157, 24, 44, 17, 125976, 56024, 1304, 36204, 8370, 156, ...]"
8,Total Vehicles,int32,0.0,7094,"[467, 191, 33, 3575, 84, 60, 67, 38, 2, 1529, 74, 46, 42, 6, 39, 24, 4, 2564, 4026, 11425, 297, 58, 61408, 654, 98, 14783, 12684, 101, 90, 5, 10, 311, 225, 183264, 126, 22089, 89, 497, 284, 44, 61234, 114, 63, 23, 152203, 22216, 30379, 28057, 130969, 229, 14774, 27988, 81, 268, 71, 17, 442, 16116, 134, 279, 34, 47, 19, 52, 51, 48219, 21344, 13805, 82506, 724, 22, 54, 8, 30356, 79115, 20737, 182194, 117, 88, 28, 55, 43, 36, 11, 9, 167133, 315345, 757, 1438, 122, 159, 26, 45, 18, 125977, 56117, 1308, 36317, 8422, 157, ...]"
9,Percent Electric Vehicles,float64,0.0,553,"[1.5, 1.57, 3.03, 0.0, 1.19, 1.67, 1.49, 2.63, 50.0, 1.35, 2.17, 2.38, 16.67, 2.56, 4.17, 25.0, 0.9, 0.34, 1.72, 0.46, 2.04, 0.26, 0.99, 1.11, 20.0, 10.0, 3.54, 0.89, 0.79, 1.12, 0.4, 0.35, 4.55, 0.25, 1.75, 1.59, 8.7, 1.52, 1.18, 0.27, 0.32, 0.44, 1.23, 1.41, 11.76, 0.23, 0.8, 2.24, 1.08, 2.94, 2.13, 5.26, 1.92, 1.96, 0.29, 0.14, 1.02, 0.01, 0.97, 9.09, 1.85, 12.5, 0.3, 0.05, 0.85, 3.41, 3.57, 1.82, 2.33, 2.78, 11.11, 0.17, 1.32, 0.82, 1.26, 7.69, 2.22, 5.56, 0.31, 0.62, 0.64, 0.74, 1.56, 0.68, 0.28, 1.15, 0.69, 2.5, 4.0, 0.42, 8.33, 6.67, 3.85, 0.95, 1.54, 4.99, 1.69, 1.2, 1.89, 1.61, ...]"

## Convert data bersih dalam bentuk xlsx untuk dilakukan analisis di tableau

In [25]:
df.to_excel('Electric_Car_Population.xlsx',index=False)